<section class='mine'>
  <div class='container'>
    <h3 class='mine__title'>mine</h3>
    <div class='mine__box'>
      <div class='mine__first-box'>
        <input type='text' class='mine__input' />
      </div>

      <div class='mine__second-box'>
        <p class='mine__text'>49.4</p><p>тонна/сутки</p>
      </div>

    </div>

  </div>
</section>